<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="CashMachine Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./classes</directory>
            <directory suffix=".php">./interfaces</directory>
            <directory suffix=".php">./exceptions</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./report" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
</phpunit>